-- Add is_test_message column to daily_msg_message_logs table
ALTER TABLE daily_msg_message_logs 
ADD COLUMN is_test_message BOOLEAN DEFAULT FALSE;

-- Add comment to explain the column
COMMENT ON COLUMN daily_msg_message_logs.is_test_message IS 'Indicates if this message was sent as a test message during development';
